$base-color: #0070f3;

.wrapperBio {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.avatarUser {
  background-color: $base-color;
  border-radius: 999px;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  span {
    font-size: 2rem;
  }
}

.infoUser {
  border: 1px solid black;
  
}

@media only screen and (max-width: 640px) {
  .wrapperBio {
    flex-direction: column;
    text-align: center;
  }

}