$base-color: #0070f3;

.wrapperBio {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-self: flex-start;
  width: 100%;
  max-width: 600px;
}

.avatarUser {
  background-color: $base-color;
  border-radius: 999px;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 2rem;
  }
}

.infoUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  span {
    margin-bottom: 5px;
  }

  .userName {
    font-weight: 600;
    font-size: 20px;
  }

  .userDescription {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 7px;
  }

  .userJobs {
    font-weight: 400;
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {
  .wrapperBio {
    flex-direction: column;
    text-align: center;
  }
  .avatarUser {
    margin-left: auto;
    margin-right: auto;
  }
  .infoUser {
    margin-left: 0rem;
  }
}