$container-color: #EAEAEA;
$base-color: #0070f3;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $container-color;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-left: 2rem;
  margin-right: 2rem;
  h1 {
    color: $base-color;
    font-size: 3rem;
  }
}

.wrapperListPost {
  width: 100%; 
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  h2 {
    font-weight: 600;
    font-size: 20px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
  }
}

.title {
  color: #0070f3;
  text-decoration: none;
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.wrapperForm {
  width: 100%;
  height: 100px;
  max-width: 600px;

  button {
    width: 5rem;
    padding: 0.5rem;
    margin-top: 10px;
    background-color: $base-color;
    color: white;
    border: none;
    border-radius: 5px;
  }
}

.description {
  display:flex; 
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-top: -15px;
  p {
    margin-top: 15px;
  }
}

.likePosting {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  span {
    margin-top: -1px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.sharePosting {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  span {
    margin-top: -1px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.textBox {
  width: 100%;
  height: 100px;
  max-width: 600px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
